h1 {
    font-family: Kharkiv, serif;
    font-size: 30px;
    margin-bottom: 45px;
    line-height: 35px;
}

h2 {

    font-size: 24px;
    line-height: 34px;
}

p {
    font-family: InikaRegular, serif;
    font-size: 20px;
    line-height: 30px;
}

body{
    background-color: #E5E5E5;
}




