h1 {
    font-family: Kharkiv, serif;
    font-size: 30px;
    margin-bottom: 45px;
    line-height: 35px;
}

h2 {

    font-size: 24px;
    line-height: 34px;
}

p {
    font-family: InikaRegular, serif;
    font-size: 20px;
    line-height: 30px;
}

body{
    background-color: #E5E5E5;
}


.login_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.input_login{
    width: 50%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 12px;
    border-color: white;
    box-shadow: none;
    outline: none;
}

.button_login{
    width: 30%;
    background: #FCD95B;
    border-radius: 12px;
    height:50px;
    box-shadow: none;
    outline: none;
}
.block_login{
    margin-top: 20px;
    margin-bottom: 20px;

}



