h1 {
    font-family: Kharkiv, serif;
    font-size: 30px;
    margin-bottom: 45px;
    line-height: 35px;
}

h2 {

    font-size: 24px;
    line-height: 34px;
}

h3 {

    font-size: 20px;
    line-height: 30px;
}

p {
    font-family: InikaRegular, serif;
    font-size: 20px;
    line-height: 30px;
}

body {
    background-color: #E5E5E5;
}


.login_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.input_login {
    width: 50%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 12px;
    border-color: white;
    box-shadow: none;
    outline: none;
}

.button_login {
    width: 30%;
    background: #FCD95B;
    border-radius: 12px;
    height: 50px;
    box-shadow: none;
    outline: none;
}

.block_login {
    margin-top: 20px;
    margin-bottom: 20px;

}

.icon_profile {
    margin-right: 20px;
}


.icon_profile i {
    font-size: 100px;
}

.email_text {


    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;

    color: #D7AA04;
}

.title_profile {
    color: #555555;
    margin-right: 20px;
}

.block_profile {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    flex: 1;
    display: flex;
}

.text_spec_course {
    font-family: InikaRegular, serif;
    font-size: 20px;
    line-height: 30px;

}

input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}


.checkbox-custom:checked {
    background-color: yellow;
}

.vert_line {
    width: 0;
    height: 100%;
    border: 1px solid #555555;
}

.button_send_message {
    height: 50px;
    border-radius: 12px;
    background-color: #FCD95B;
    color: black;
    border: none;
    box-shadow: none;
    padding: 0 50px;
    cursor: pointer;


}

.button_watch_list_students {
    color: black;
    font-size: 22px;
    line-height: 30px;
    background: transparent;
    border: none;
}

.button_watch_list_students:hover {
    cursor: pointer;
    background: #686868;
}

.button_logout {

    padding: 20px 50px;
    border-radius: 12px;
    background-color: #FCD95B;
    color: black;
    border: none;
    font-size: 25px;
    box-shadow: none;
    cursor: pointer;
}


/* Ховаємо оригінальний чекбокс */
.checkbox-container input {
    display: none;
}

/* Створюємо контейнер для стилізованого чекбокса */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;

    font-family: InikaRegular, serif;
    font-size: 22px;
    line-height: 24px;
    margin-left: 20px;
}

/* Створюємо позначку (checkmark) */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 20%;
    border: 2px solid #ccc;
    margin-right: 20px;

}

/* Змінюємо колір позначки, коли вона вибрана */
.checkbox-container input:checked ~ .checkmark {
    background-color: #FCD95B;
}

/* Змінюємо форму позначки на квадрат, коли вона вибрана */
.checkbox-container input:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 7px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.block_checkbox {
    margin-right: 20px;
}

.block_addPost {
    margin-top: 50px;
}

.form_addInfoPost {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.button_send_addPost{
    height: 50px;
    border-radius: 12px;
    background-color: #FCD95B;
    color: black;
    border:none;
    box-shadow: none;
}

.notification_block{
    margin-right: -20px;
    margin-top: -5px;
    z-index: 2;


}
.notification::before{
    font-size: 30px;
    color:red;
}







