.post_block{
    padding: 45px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;


}
.post_block * {
    margin-left: 0;
}
.post_container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 100px 200px;
}


.flex{
    display: flex;
}
.icon_post{
    margin-right: 10px;
}
.icon_post i{
    font-size: 30px;
}
.lineWide{
    border: 2px solid #FCD95B;
    width: 300px;
    margin-bottom: 0;
    margin-top: 0;
}
.lineNarrow{
    border: 1px solid #FCD95B;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

.date{
    padding-top: 10px;
    font-family: Kharkiv, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #555555;
}

.text_post{
    margin-top: 10px;
    margin-bottom: 20px;

}

.comment_save_icon i{
    font-size: 24px;
    color: #555555;
}

.comment_save_text{
    margin-left: 10px;
    font-family: Kharkiv, serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #555555;
}

.button_post{
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    flex: 1;
    text-decoration: none;

}
.button_post:hover{
    cursor: pointer;
    background-color: #E5E5E5;
    text-decoration: none;

}

.pagination_my{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination_button{
    margin-left: 10px;
    font-family: Kharkiv, serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: black;
}
.pagination_button:hover{
    cursor: pointer;
    color: #FCD95B;
    text-decoration: none;
}

.flex_space_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_reply {
    color: #D7AA04;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.button_reply:hover {
    text-decoration: underline;
}

.buttonWatchReply{
    padding-left: 30px;
    color: #555555;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-top: 0;
}
.buttonWatchReply:hover {
    text-decoration: underline;
}

.lineReply{
    border: 1px solid #555555;
    margin-bottom: 0;
    margin-top: 0;
    width: 20px;
    margin-left: 30px;
}


.comment_block{
    margin: 20px 0;
    padding: 25px 45px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;


}
.comment_block * {
    margin-left: 0;
}

.textWatchReply{
    margin-bottom: 0;
    margin-left: 10px;
}

.icon_comment{
    margin-right: 10px;
    margin-bottom: 0;
}
.icon_comment i{
    font-size: 20px;
}
.response{
    margin-left: 30px;
}

.input_comment{
    flex:12;
    height: 70px;
    background: #D9D9D9;
    padding-left: 20px;
    border-radius: 12px;
    border:none;
    box-shadow: none;
    outline: none;
    margin-right: 20px;
}
.form{
    display: flex;
    width: calc(100% - 800px);
    position: fixed;
    bottom: 30px;

}
.form_response{
    display: flex;
    width: calc(100% - 700px);
    left:350px;
    position: fixed;
    padding: 20px 50px 30px;
    background: #FFFFFF;
    border-radius: 12px;
    bottom: -10px;
}

.button_send_comment{
    flex:3;
    height: 70px;
    border-radius: 12px;
    background-color: #FCD95B;
    color: black;
    border:none;
    box-shadow: none;
}

.button_close{
    margin-left: 10px;
    flex:1;
    height:70px;
    border:none;
    background: transparent;
    color: black;
}

.input_post{
    background: #D9D9D9;
    padding-left: 20px;
    border-radius: 12px;
    border:none;
    box-shadow: none;
    outline: none;
    margin-right: 20px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* напівпрозорий сірий фон */
    z-index: 9999; /* забезпечує, що елемент буде поверх інших елементів */
}
