<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<header class="header">
    <div class="my_container header_in">
        <a th:href="@{/}">
            <img class="logo" src="/img/logo.png" alt="Logo">
        </a>
        <div>
            <a class="icon" style="margin-right: 50px" th:href="@{/messages}"><i class="fa-regular fa-message"></i></a>
            <a class="icon" th:href="@{/profile}"><i class="fa-regular fa-user"></i></a>
        </div>
    </div>
</header>
<div class="my_container">
    <div class="post_container">
        <div class="post_block">
            <h2>Відповідальні</h2>
            <hr class="lineWide">
            <div class="block_profile">
                <h2> Відповідальні</h2>
                <form th:action="@{/getResponsibles}" method="get">
                    <button type="submit" class="button_watch_list_students">Переглянути список відповідальних</button>
                </form>
            </div>
        </div>
        <div style="height:30px"></div>
        <div th:if="${myGroup!=null}">
        <div class="post_block">
                <h2>Моя група</h2>
                <hr class="lineWide">
                <div class="block_profile">
                    <h2 th:text="${myGroup.title}"></h2>
                    <form th:action="@{/getStudentsForGroup}" method="get">
                        <input type="hidden" name="groupTitle" th:value="${myGroup.title}">
                        <button type="submit" class="button_watch_list_students">Переглянути список студентів</button>
                    </form>

                </div>
            </div>
        </div>
        <div th:if="${groups.size()>0}">
            <div class="post_block" style="margin-top: 50px">
                <h2>Групи</h2>
                <hr class="lineWide">
                <div th:each="group:${groups}">
                    <div class="block_profile">
                        <h2 th:text="${group.title }"></h2>
                        <form th:action="@{/getStudentsForGroup}" method="get">
                            <input type="hidden" name="groupTitle" th:value="${group.title}">
                            <button type="submit" class="button_watch_list_students">Переглянути список студентів
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/1467b92032.js" crossorigin="anonymous"></script>
</body>
</html>