<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<header class="header">
    <div class="my_container header_in">
        <img class="logo" th:href="@{/}" src="/img/logo.png" alt="Logo">
        <a class="icon"  th:href="@{/profile}" target="_blank"><i class="fa-regular fa-user"></i></a>
    </div>
</header>
<div class="my_container" >

    <div th:each="el: ${posts}">
        <div class="post_container">
            <div class="post_block">
                <div class="flex">
                    <div class="icon_post"><i class="fa-regular fa-user"></i></div>
                    <h2 th:text="${el.author.surname + ' ' + el.author.name}"></h2>
                </div>
                <hr class="lineWide" >
                <div class="date" th:text="${#dates.format(el.dateTime, 'dd.MM.yyyy HH:mm')}"></div>

                <h2 th:text="${el.title}"></h2>

                <p class="text_post" th:text="${el.description}"></p>

                <hr class="lineNarrow" >

                <div class="flex" style="width: 100%;">
                    <a th:href="@{/posts/{productId}(productId=${el.id})}" class="flex button_post" >
                        <div class="comment_save_icon"><i class="fa-regular fa-comment"></i></div>
                        <div class="comment_save_text">Коментувати</div>
                    </a>

                        <div th:if="${#lists.contains(savedPosts, el)}" style="flex: 1">
                            <a th:href="@{/posts/saved/{productId}(productId=${el.id})}" class="flex button_post">
                            <div class="comment_save_icon"> <i class="fa-solid fa-bookmark"></i></div>
                            <div class="comment_save_text" >Видалити з збережених</div>
                            </a>
                        </div>
                        <div th:if="${!#lists.contains(savedPosts, el)}" style="flex: 1">
                            <a th:href="@{/posts/saved/{productId}(productId=${el.id})}"  class="flex button_post" >
                            <div class="comment_save_icon"><i class="fa-regular fa-bookmark"></i></div>
                            <div class="comment_save_text" >Зберегти</div>
                            </a>
                        </div>




                </div>
            </div>
        </div>
    </div>
    <div th:each="i : ${#numbers.sequence(1, countPage)}" class="pagination">
        <a th:href="@{${request.requestURI}(page=${i})}" th:text="${i}" class="pagination_button"></a>
    </div>
</div>
<script src="https://kit.fontawesome.com/1467b92032.js" crossorigin="anonymous"></script>
<script>

    let timestamp document.getElementById("timestamp")

    // Перетворення рядка на об'єкт дати
    let date = new Date(timestamp);

    // Форматування дати
    let formattedTime = `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`;

    // Виведення результату у відповідний <td>
    document.getElementById("timestamp").textContent = formattedTime;
</script>

</body>
</html>